extends layout/layout
block content   
    div.container
        include menu 
        section.content
            include form
            a(href='')
                h1.logo-in-gallery GHappy art
            h2 Контакты 
                      
             
            form(action="")
                section.contacts
                    div
                        input(
                            type='text',
                            name='name'
                            placeholder='Имя'
                            )
                    div
                        input(
                            type="email",
                            name="email",
                            placeholder='E-mail'
                            )
                    div
                        textarea(
                            placeholder="написать сообщение"
                            )
                    div
                        input(
                            type="submit",
                            name="submit",
                            class="send"
                            value="Отправить"
                        )
                       
                       
                       
                       
                       
                       
                       
                  
      
